<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rafik.devise" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>MonDevis</name>
    <description>Application de génération de devis</description>
    <author email="you@email.com">Rafik</author>

    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <platform name="android" />
</widget>
